* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    color: #222;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 40px auto;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 25px;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

li {
    margin: 12px 0;
}

li span {
    margin-right: 10px;
}

li button {
    margin-left: 5px;
}
